# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
/client/dist/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Screenshots (Optional: Keep if you want them in the repo, exclude if not)
# screenshots/
